@import '../../breakpoints.scss';

.users-header {
  margin-top: 45px;
  margin-bottom: 40px;
}

.user {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;

  .twitter-link {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.user-left {
  width: 96px;
  flex: 0 0 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;

  @media only screen and (max-width: $breakpoint-bigphones) {
    width: 100%;
    flex: 0 0 100%;
    margin-right: 0;
  }

  a {
    @media only screen and (max-width: $breakpoint-bigphones) {
      display: none;
    }
  }
}

.user-image {
  width: 96px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.user-right {
  flex: 1 1 auto;

  h3 {
    margin-top: 0;
    @media only screen and (max-width: $breakpoint-bigphones) {
      text-align: center;
    }
  }

  p {
    max-width: 500px;
  }
}
