<h1>{{ about.title }}</h1>

<app-content [content]="about.content"></app-content>

<h1 class="users-header">Who we are</h1>

<div class="user" *ngFor="let user of users">
  <div class="user-left">
    <img class="user-image" [src]="user.avatar">
    <a class="twitter-link" *ngIf="user.twitter" [href]="twitterUrl(user)" target="_blank">{{ user.twitter }}</a>
  </div>
  <div class="user-right">
    <h3><a [href]="user.linkedIn" target="_blank">{{ user.name }}</a></h3>
    <p>{{ user.description }}</p>
  </div>
</div>
