@import '../colors.scss';
@import '../breakpoints.scss';

$content-breakpoint: 900px;

.nav {
  display: flex;
  padding-left: 30px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  flex-wrap: wrap;

  @media only screen and (max-width: $breakpoint-bigphones) {
    padding-left: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  user-select: none;
  padding: 0 15px;
  flex: 0 0 auto;
  height: 72px;

  @media only screen and (max-width: $breakpoint-bigphones) {
    flex: 0 0 100%;
    height: 52px;
    margin-top: 5px;
  }
}

.title {
  font-family: geom-graphic, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  font-size: 18px;
  line-height: 19px;

  @media only screen and (max-width: $breakpoint-bigphones) {
    font-size: 14px;
    line-height: 15px;
  }
}

.logo-icon {
  height: 70px;
  width: 70px;
  margin-right: 10px;

  @media only screen and (max-width: $breakpoint-bigphones) {
    height: 50px;
    width: 55px;
  }
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $breakpoint-bigphones) {
    flex: 0 0 100%;
    margin-top: 5px;
  }
}

.nav-link {
  padding: 0 30px;
  font-size: 16px;
  font-family: geom-graphic, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  display: inline-block;
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: background-color .3s, color .3s;
  user-select: none;
  justify-content: center;

  @media only screen and (max-width: 780px) {
    padding: 0 15px;
  }

  @media only screen and (max-width: $breakpoint-bigphones) {
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    flex: 1 1 auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &:first-child {
    @media only screen and (max-width: $breakpoint-bigphones) {
      border-top-left-radius: 0;
    }
  }

  &:last-child {
    @media only screen and (max-width: $breakpoint-bigphones) {
      border-top-right-radius: 0;
    }
  }

  &.active,
  &.active:hover,
  &.active:focus
  &.active:visited {
    color: $white;
  }
}

:host .nav-link.active {
  .orange & {
    background-color: $orange;
  }

  .green & {
    background-color: $green;
  }

  .blue & {
    background-color: $blue;
  }

  .purple & {
    background-color: $purple;
  }

  .red & {
    background-color: $red;
  }
}

.github-link {
  position: absolute;
  right: 30px;
  top: 21px;

  @media only screen and (max-width: $breakpoint-bigphones) {
    top: 16px;
    right: 15px;
  }
}

.github-icon {
  height: 30px;
  width: 30px;
}

.scroll-content {
  padding: 90px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $light-gray;
  height: 100%;
  overflow-y: scroll;

  @media only screen and (max-width: $content-breakpoint) {
    background-color: $white;
  }

  @media only screen and (max-width: $breakpoint-bigphones) {
    padding: 110px 0 0;
  }
}

.content {
  padding: 0 60px 30px;
  width: 100%;
  max-width: $content-breakpoint;
  background-color: $white;
  flex: 0 0 auto;
  margin-bottom: 30px;
  min-height: 300px;
  border-radius: 2px;

  @media only screen and (max-width: $content-breakpoint) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40px;
  border-top-width: 2px;
  border-top-style: solid;
  background-color: $white;
  width: 100%;
  font-size: 12px;
  color: $gray;
}

.mini-loading {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  top: 75px;
  left: 0;
  width: 100%;
  height: calc(100% - 75px);
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $white;

  @media only screen and (max-width: $breakpoint-bigphones) {
    top: 105px;
  }

  &.active {
    opacity: 1;
    display: flex;

    &.fade-out {
      opacity: 0;
    }
  }

  .loading-icon {
    height: 100px;
    width: 100px;
    opacity: .5;

    .question-mark {
      fill: $orange;
      animation: 1s color-change;
    }
  }
}

@keyframes color-change {
  0% { fill: $orange; }
  20% { fill: $green; }
  40% { fill: $blue; }
  60% { fill: $purple; }
  80% { fill: $red; }
}
