<nav role="nav" class="nav themed-border">
  <a class="logo" routerLink="/">
    <mat-icon class="logo-icon themed-color" svgIcon="logo"></mat-icon>
    <div class="title themed-color">
        <div>Random</div>
        <div>Content</div>
        <div>Generator</div>
    </div>
  </a>

  <div class="nav-links">
    <a class="nav-link" routerLink="/about" routerLinkActive="active">
      <span class="text">About</span>
    </a>
    <a class="nav-link" routerLink="/projects" routerLinkActive="active">
      <span class="text">Projects</span>
    </a>
    <a class="nav-link" routerLink="/blog" routerLinkActive="active">
      <span class="text">Blog</span>
    </a>
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
      <span class="text">Contact</span>
    </a>
  </div>

  <a class="github-link" title="RCG on GitHub" href="https://github.com/random-content" target="_blank">
    <mat-icon class="github-icon themed-color" svgIcon="github"></mat-icon>
  </a>
</nav>

<div class="mini-loading" [ngClass]="{ 'active': loading.active, 'fade-out': loading.fadeOut }">
    <mat-icon class="loading-icon" svgIcon="logo"></mat-icon>
</div>

<div class="scroll-content">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer themed-border">
        ©2021 Random Content Generator
    </div>
</div>


